input[type="number"] {
   width:50px;
}

#wrapper {
    width: 100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 50%;
    float:left; /* add this */
}
#second {
    width: 50%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}