{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
.button1 {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #2162ff;
    border: 2px solid #00a6ed;
    padding: 6px 12px;
}

.button2 {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #f93109;
    border: 2px solid #ff8d47;
    padding: 6px 15px;
}
</style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<h1>Encyclopedia</h1>
<hr>

<table align="center" width="30%">
    <tr><td align="center"><h4><b>Races</b></h4></td></tr>
    {% for charakterRace in list_race %}
    <tr>
        <td align="center">
            <script type="text/javascript">
                $(function () {
                    $("#{{charakterRace.name}}").dialog ({
                        modal: false,
                        autoOpen: false,
                        buttons : {
                            "Ok" : function ()
                            {
                                $(this).dialog('close');
                            }
                        }
                    });

                    $("#dRace{{charakterRace.pk}}").click(function () {
                        $('#{{charakterRace.name}}').dialog('open');
                    });
                });
            </script>
            <input type="button" id=dRace{{charakterRace.pk}} class="button2" value={{charakterRace.name}} />
            <div id={{charakterRace.name}}  title={{charakterRace.name}} align="center">
            Description: {{charakterRace.description }}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<table align="center" width="30%">
    <tr><td align="center"><h4><b>Classes</b></h4></td></tr>
    {% for charakterClass in list_class %}
    <tr>
        <td align="center">
            <script type="text/javascript">
                $(function () {
                    $("#{{charakterClass.name}}").dialog ({
                        modal: false,
                        autoOpen: false,
                        buttons : {
                            "Ok" : function ()
                            {
                                $(this).dialog('close');
                            }
                        }
                    });

                    $("#dClass{{charakterClass.pk}}").click(function () {
                        $('#{{charakterClass.name}}').dialog('open');
                    });
                });
            </script>
            <input type="button" id=dClass{{charakterClass.pk}} class="button1" value={{charakterClass.name}} />
            <div id={{charakterClass.name}}  title={{charakterClass.name}} align="center">
            Description: {{charakterClass.description }}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<br />
<hr>
<input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />


{% endblock %}
