{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}

<style>
.button1 {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #2162ff;
    border: 2px solid #00a6ed;
    padding: 6px 12px;
}

.button2 {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #f93109;
    border: 2px solid #ff8d47;
    padding: 6px 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<h1>{% trans 'Encyclopedia' %}</h1>
<hr>

<table align="center" width="30%">
    <tr><td align="center"><h4><b>{% trans 'Races' %}</b></h4></td></tr>
    {% for charakterRace in list_race %}
    <tr>
        <td align="center">
            <script type="text/javascript">
                $(function () {
                    $("#{{charakterRace.name}}").dialog ({
                        modal: false,
                        autoOpen: false,
                        buttons : {
                            "Ok" : function ()
                            {
                                $(this).dialog('close');
                            }
                        }
                    });

                    $("#dRace{{charakterRace.pk}}").click(function () {
                        $('#{{charakterRace.name}}').dialog('open');
                    });
                });
            </script>
            <input type="button" id=dRace{{charakterRace.pk}} class="button2" value={{charakterRace.name}} />
            <div id={{charakterRace.name}}  title={{charakterRace.name}} align="center">
            {% trans 'Description' %}: {{charakterRace.description }}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<table align="center" width="30%">
    <tr><td align="center"><h4><b>{% trans 'Classes' %}</b></h4></td></tr>
    {% for charakterClass in list_class %}
    <tr>
        <td align="center">
            <script type="text/javascript">
                $(function () {
                    $("#{{charakterClass.name}}").dialog ({
                        modal: false,
                        autoOpen: false,
                        buttons : {
                            "Ok" : function ()
                            {
                                $(this).dialog('close');
                            }
                        }
                    });

                    $("#dClass{{charakterClass.pk}}").click(function () {
                        $('#{{charakterClass.name}}').dialog('open');
                    });
                });
            </script>
            <input type="button" id=dClass{{charakterClass.pk}} class="button1" value={{charakterClass.name}} />
            <div id={{charakterClass.name}}  title={{charakterClass.name}} align="center">
            {% trans 'Description' %}: {{charakterClass.description }}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<br />
<hr>
<h4><b>Instruction</b></h4>
<img id="myImg" src="{% static 'games/images/Instrukcja.jpg' %}" alt="How to play?" style="width:100%;max-width:300px">

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>

<hr>
<input action="action" onclick="window.history.go(-1); return false;" type="button" value="{% trans 'Back' %}" />


{% endblock %}
