{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}" />

<h1>{% trans 'Join game' %}</h1>
<!--
    <table align="center">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Join"/>
        </form>
    </table>
-->

<form method="post">
    {% csrf_token %}
    <table align="center">
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
        <tr>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </tr>
    </table>
    <input type="submit" value="{% trans 'Join' %}" class="green_button"/>
</form>

<br/>
{% if gamer_cookie != None or gamers %}
    <p>{% trans 'Recently played games' %}:</p>
    <table width="50%" height="100%" border="1" cellpadding="2" cellspacing="1">
        <tr>
            <th> {% trans 'Game name' %} </th>
            <th> {% trans 'Nick' %} </th>
            <th> {% trans 'Level' %} </th>
            <th> {% trans 'Game started at' %}</th>
        </tr>
        {% if request.user.is_authenticated %}
            {% for gamer in gamers %}
                {% if not gamer.game.is_finished %}
                    <tr>
                        <td><a href="{% url 'games:gamer' gamer.id%}">{{ gamer.game.name }}</a></td>
                        <td>{{ gamer.nick }}</td>
                        <td>{{ gamer.level }}</td>
                        <td>{{ gamer.game.created_at }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if gamer_cookie != None %}
                <tr>
                    <td><a href="{% url 'games:gamer' unregistered_gamer.id %}">{{ unregistered_gamer.game.name }}</a></td>
                    <td>{{ unregistered_gamer.nick }}</td>
                    <td>{{ unregistered_gamer.level }}</td>
                    <td>{{ unregistered_gamer.game.created_at }}</td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
{% else %}
    <p>{% trans 'No recently played games' %}.</p>
{% endif %}
{% endblock %}
