<h1>{{ gamer.nick }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post"> <!--action="" method="post">-->
    {% csrf_token %}
    {{ form.as_p }}
    <!--<label for="level">level</label>
    <input type="number" width="" name="level" id="level" value="{{ gamer.level }}" />
    <br />
    <label for="bonus">bonus</label>
    <input type="number" name="bonus" id="bonus" value="{{ gamer.bonus }}" />
    <br />
    <label>gender</label>
    <br />
    <input type="radio" name="gender" id="gender_1" value="{{ True }}" />
    <label for="gender_1">male</label>
    <input type="radio" name="gender" id="gender_2" value="{{ False }}" />
    <label for="gender_2">female</label>
    <input type="radio" name="gender" id="gender_3" value="{{ None }}" />
    <label for="gender_1">none</label>
    <br />
    <label>Race</label>
    <br />
    <select>
        <option value="None">None</option>
    </select>
    <br />
    <label>Class</label>
    <br />
    <select>
        <option value="None">None</option>
    </select>
    <br />
    -->
    <input type="submit" value="Update" />
</form>
{% if gamer.winner %}<p><strong>YOU WON</strong></p>{% endif %}