{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}" />

<h1>{{ gamer.nick }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post"> <!--action="" method="post">-->
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<form action="{% url 'games:delete_gamer' gamer.id %}">
    <input type="submit" value="Leave game" />
</form>

{% if gamer.winner %}<p><strong>YOU WON</strong></p>{% endif %}
{% endblock %}
