<!DOCTYPE html>
<html>
 <head>
{% load static %}

  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'games/style2.css' %}" />

<SCRIPT LANGUAGE="JavaScript">
    function getCookie(name)
    {
        var start = document.cookie.indexOf( name + "=" );
        var len = start + name.length + 1;
        if ( ( !start ) && ( name != document.cookie.substring( 0, name.length ) ) ) {
            return null;
        }
        if ( start == -1 ) return null;
        var end = document.cookie.indexOf( ";", len );
        if ( end == -1 ) end = document.cookie.length;
        return unescape( document.cookie.substring( len, end ) );
    }

    function doload()
    {
        var scrollTop = getCookie ("scrollTop");
        var scrollLeft = getCookie("scrollLeft");

        if (!isNaN(scrollTop))
        {
		      document.body.scrollTop = scrollTop;
		      document.documentElement.scrollTop = scrollTop;

        }
        if (!isNaN(scrollLeft))
      	{
      			  document.body.scrollLeft = scrollLeft;
      			  document.documentElement.scrollLeft = scrollLeft;
        }

        Delete_Cookie("scrollTop");
        Delete_Cookie("scrollLeft");
        setTimeout( "Refresh()", 10000 );
    }

    function Refresh()
    {
        document.cookie = 'scrollTop=' + f_scrollTop();
        document.cookie = 'scrollLeft=' + f_scrollLeft();
        document.location.reload(true);
    }

    //Setting the cookie for vertical position
    function f_scrollTop() {
        return f_filterResults (
            window.pageYOffset ? window.pageYOffset : 0,
            document.documentElement ? document.documentElement.scrollTop : 0,
            document.body ? document.body.scrollTop : 0
        );
    }

    function f_filterResults(n_win, n_docel, n_body) {
        var n_result = n_win ? n_win : 0;
        if (n_docel && (!n_result || (n_result > n_docel)))
            n_result = n_docel;
        return n_body && (!n_result || (n_result > n_body)) ? n_body : n_result;
    }

    //Setting the cookie for horizontal position
    function f_scrollLeft() {
        return f_filterResults (
            window.pageXOffset ? window.pageXOffset : 0,
            document.documentElement ? document.documentElement.scrollLeft : 0,
            document.body ? document.body.scrollLeft : 0
        );
    }

    function Delete_Cookie(name)
    {
        document.cookie = name + "=" + ";expires=Thu, 01-Jan-1970 00:00:01 GMT";

    }
    window.onload=doload;
</SCRIPT>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#dialog" ).dialog();
  } );
  </script>
 </head>
<body background="/home/ruda/Praktyki/src/e_munchkin/games/static/games/images/background-image.jpg">

    {% for gamer in gamers.all %}
        {% if gamer.level >= gamer.game.winning_level %}

        <div id="dialog" title="Do we have a winner?">
            <p>Is that the end of a game? <br />Oh no!</p>
        </div>
        {% endif %}
    {% endfor %}

<script>

$("div#dialog").dialog ({
    modal: true,
    buttons : {
        "Yes, that's right!" : function ()
        {
            window.location.href = "{% url 'games:end_game' game.id%}";
        },
        "No, we change rules" : function ()
        {
            window.location.href = "{% url 'games:edit_game' game.id%}";
        }
    }
}).prev().find(".ui-dialog-titlebar-close").hide ();

</script>

<table width="100%" align="center">
  <tr>
    <td align="center" style="padding:0 5px 0 5px;"> <font size="6"><b> {{ game.game_code }} </b></font> </td>
    <td align="center" style="padding:0 5px 0 30px;"> <font size="7"><b> {{ game.name }} </b></font> </td>
    <td align="center" style="padding:0 5px 0 5px;"> <font size="2">made by: </font><font size="3"> <b>{{ game.host.username }} </b></font></td>
    <td align="center" style="padding:0 5px 0 5px;"> </font><font size="3"> <b>{{ game.winning_level }}</b></font></td>
    <td align="center"> 
<form action="{% url 'games:edit_game' game.id%}">
   <input type="submit" value="Edit" style="font-size:15px" />
</form>
    </td>
  </tr>
</table>

<!-- <table width="100%" height="100%" border="3" cellpadding="5" cellspacing="4" align="center"> -->
<table id="game_panel_table" border="3" cellpadding="5" cellspacing="4" align="center">
  <tr align="center" height="33%">
    <td><font color="DimGray">X</font></td>
        {% if gamers.0 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 1. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.0.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.0.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.0.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.0.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.0.race_slot_1 != None %}
        <td>{{ gamers.0.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.0.class_slot_1 != None %}
        <td>{{ gamers.0.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.0.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.0.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.0.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.0.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
        {% if gamers.6 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 7. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.6.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.6.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.6.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.6.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.6.race_slot_1 != None %}
        <td>{{ gamers.6.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.6.class_slot_1 != None %}
        <td>{{ gamers.6.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.6.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.6.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.6.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.6.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
        {% if gamers.2 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 3. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.2.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.2.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.2.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.2.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.2.race_slot_1 != None %}
        <td>{{ gamers.2.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.2.class_slot_1 != None %}
        <td>{{ gamers.2.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.2.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.2.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.2.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.2.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="20%"><font color="DimGray">X</font></td>
  </tr>
  <tr align="center" height="33%">
        {% if gamers.5 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 6. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.5.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.5.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.5.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.5.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.5.race_slot_1 != None %}
        <td>{{ gamers.5.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.5.class_slot_1 != None %}
        <td>{{ gamers.5.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.5.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.5.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.5.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.5.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="20%"><font color="DimGray">X</font></td>
    <td width="20%"><font color="DimGray">X</font></td>
    <td width="20%"><font color="DimGray">X</font></td>
        {% if gamers.4 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 5. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.4.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.4.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.4.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.4.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.4.race_slot_1 != None %}
        <td>{{ gamers.4.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.4.class_slot_1 != None %}
        <td>{{ gamers.4.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.4.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.4.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.4.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.4.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
  </tr>
  <tr align="center" height="33%">
    <td width="20%"><font color="DimGray">X</font></td>
        {% if gamers.3 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 4. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.3.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.3.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.3.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.3.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.3.race_slot_1 != None %}
        <td>{{ gamers.3.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.3.class_slot_1 != None %}
        <td>{{ gamers.3.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.3.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.3.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.3.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.3.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
        {% if gamers.7 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 8. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.7.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.7.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.7.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.7.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.7.race_slot_1 != None %}
        <td>{{ gamers.7.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.7.class_slot_1 != None %}
        <td>{{ gamers.7.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.7.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.7.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.7.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.7.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
        {% if gamers.1 == NULL %}
    <td width="20%">
            <font color="DimGray">Free place for gamer</font>
        {% else %}
    <td width="20%" bgcolor="ffe5ba">
<!-- 2. gamer -->
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.1.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.1.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.1.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.1.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.1.race_slot_1 != None %}
        <td>{{ gamers.1.race_slot_1 }}</td></tr>
        {% endif %}
        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.1.class_slot_1 != None %}
        <td>{{ gamers.1.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Race slot 2 -->
        {% if gamers.1.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.1.race_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Race 2: </font></td>
        {% endif %}
        <!-- Class slot 2 -->
        {% if gamers.1.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.1.class_slot_2 }}</td></tr>
        {% else %}
        <tr><td><font color="ffe5ba">Class 2: </font></td>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="20%"><font color="DimGray">X</font></td>
  </tr>
</table>


<br/><br/>

<script language="javascript" type="text/javascript">
function isMobileDevice() {
    return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
};

    if (isMobileDevice() == true){
//    document.getElementById('game_panel_table').setAttribute('height', window.visualViewport.height);
//    document.getElementById('game_panel_table').setAttribute('width', window.visualViewport.width);
//    document.getElementById('game_panel_table').setAttribute('height', screen.height);
//    document.getElementById('game_panel_table').setAttribute('width', screen.width);
    document.getElementById('game_panel_table').setAttribute('height', 0.9*window.innerHeight);
    document.getElementById('game_panel_table').setAttribute('width', 0.95*window.innerWidth);
        if (window.innerHeight<window.innerWidth){
            document.getElementById('game_panel_table').style.fontSize = "75%"; 
        }
        else document.getElementById('game_panel_table').style.fontSize = "90%";
    }
    else {
    document.getElementById('game_panel_table').setAttribute('height', 0.9*window.innerHeight);
    document.getElementById('game_panel_table').setAttribute('width', 0.95*window.innerWidth);

    }
</script>
</body>
</html>
