{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}" />

    <style>
        .green {
            background-color: #ffe5ba;
            border-radius: 8px;
            color: #0d8e08;
            border: 2px solid #09c902;
            padding: 6px 12px;
        }

        .red {
            background-color: #ffe5ba;
            border-radius: 8px;
            color: #f93109;
            border: 2px solid #ff8d47;
            padding: 6px 15px;
        }

        .grey {
            background-color: #ffe5ba;
            border-radius: 8px;
            color: #30302f;
            border: 2px solid #777777;
            padding: 6px 15px;
        }
    </style>
</head>

<h1>{% trans 'Edit your game' %}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="wrapper">
    <div {% if game.gamers.count > 0 %} id="first" {% endif %}>
        <form method="post">
            {% csrf_token %}
            <table align="center">
                {% for field in form %}
                    <tr>
                        <td align="right">{{ field.label_tag }}</td>
                        <td colspan="2">{{ field }}</td>
                    </tr>
                    <tr>
                        {% if field.help_text %}
                            <td colspan="3" align="center"><small style="color: #5c8af9 ">{{ field.help_text }}</small></td>
                        {% endif %}
                    </tr>
                    <tr>
                        {% for error in field.errors %}
                            <tr>
                                <td colspan="3" align="center"><small style="color: red">{{ error }}</small></td>
                            </tr>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td> </td>
                    <td><input type="submit" value="{% trans 'Save' %}" class="green"/></td>
                    <td>
                        <form action="{% url 'games:game_panel' game.id%}">
                           <input type="submit" value="{% trans 'Back' %}" class="grey"/>
                        </form>
                    </td>
                </tr>
            </table>

        </form>

        <script type="text/javascript">
            $(function () {
                $("#dialog").dialog ({
                    modal: true,
                    autoOpen: false,
                    buttons : {
                        "{% trans 'Yes' %}" : function ()
                        {
                            window.location.href = "{% url 'games:end_game' game.id%}";
                        },
                        "{% trans 'No' %}" : function ()
                        {
                            $(this).dialog('close');
                        }
                    }
                }).prev().find(".ui-dialog-titlebar-close").hide ();

                $("#DialogShow").click(function () {
                    $('#dialog').dialog('open');
                });
            });
        </script>
        <br />

        <input type="button" id="DialogShow" value="{% trans 'End game' %}" class="red"/>

        <div id="dialog" title="{% trans 'Are you sure' %}?" align="center">
            {% trans 'Do you want to end' %} <b> {{ game.name }} </b> <br />
            {% trans 'and save all gamers stats' %}?
        </div>

    </div>

    {% if game.gamers.count > 0 %}
        <div id="second">
            <table width="50%" height="100%" cellpadding="2" cellspacing="1">
                <tr align="center">
                    <th style="border: 2px solid;background-color:white;">Order</th>
                    <th style="border: 2px solid;background-color:white;">Nick</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for gamer in game.gamers.all %}
                <tr>
                    <td align="center" style="border: 1px solid;background-color:white;">{{ gamer.order }}</td>
                    <td align="left" style="border: 1px solid;background-color:white;">{{ gamer.nick }}</td>
                    <td align="center">
                      <form action="{% url 'games:edit_gamer_order' gamer.id%}">
                         <input type="submit" value="{% trans 'Edit' %}"/>
                      </form>
                    </td>
                    <td align="center">
                      <form action="{% url 'games:kick_gamer' gamer.id%}" >
                         <input type="submit" value="{% trans 'Kick' %}"/>
                      </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
