<!DOCTYPE html>
<html>
 <head>
   <style>
     body {background-color:Gainsboro}
    </style>

    <SCRIPT LANGUAGE="JavaScript">
    function getCookie(name)
    {
        var start = document.cookie.indexOf( name + "=" );
        var len = start + name.length + 1;
        if ( ( !start ) && ( name != document.cookie.substring( 0, name.length ) ) ) {
            return null;
        }
        if ( start == -1 ) return null;
        var end = document.cookie.indexOf( ";", len );
        if ( end == -1 ) end = document.cookie.length;
        return unescape( document.cookie.substring( len, end ) );
    }

    function doload()
    {
        var scrollTop = getCookie ("scrollTop");
        var scrollLeft = getCookie("scrollLeft");

        if (!isNaN(scrollTop))
        {
		      document.body.scrollTop = scrollTop;
		      document.documentElement.scrollTop = scrollTop;

        }
        if (!isNaN(scrollLeft))
      	{
      			  document.body.scrollLeft = scrollLeft;
      			  document.documentElement.scrollLeft = scrollLeft;
        }

        Delete_Cookie("scrollTop");
        Delete_Cookie("scrollLeft");
        setTimeout( "Refresh()", 10000 );
    }

    function Refresh()
    {
        document.cookie = 'scrollTop=' + f_scrollTop();
        document.cookie = 'scrollLeft=' + f_scrollLeft();
        document.location.reload(true);
    }

    //Setting the cookie for vertical position
    function f_scrollTop() {
        return f_filterResults (
            window.pageYOffset ? window.pageYOffset : 0,
            document.documentElement ? document.documentElement.scrollTop : 0,
            document.body ? document.body.scrollTop : 0
        );
    }

    function f_filterResults(n_win, n_docel, n_body) {
        var n_result = n_win ? n_win : 0;
        if (n_docel && (!n_result || (n_result > n_docel)))
            n_result = n_docel;
        return n_body && (!n_result || (n_result > n_body)) ? n_body : n_result;
    }

    //Setting the cookie for horizontal position
    function f_scrollLeft() {
        return f_filterResults (
            window.pageXOffset ? window.pageXOffset : 0,
            document.documentElement ? document.documentElement.scrollLeft : 0,
            document.body ? document.body.scrollLeft : 0
        );
    }

    function Delete_Cookie(name)
    {
        document.cookie = name + "=" + ";expires=Thu, 01-Jan-1970 00:00:01 GMT";

    }
    window.onload=doload;
    </SCRIPT>

 </head>
<body>

<h1><font color="DimGray">Welcome to: </font>{{ game.name }}</h1>
<h2><font color="DimGray">To join enter game-code: </font>{{ game.game_code }}</h1>
<h3><font color="DimGray">Created by: </font>{{ game.host.username }}</h2>
<p><font color="DimGray">This game is for: </font>{{ game.max_players }}<font color="DimGray"> players</font><p>
<p><font color="DimGray">Winning level: </font>{{ game.winning_level }}<p>
<p> <a href="{% url 'games:edit_game' game.id%}">Edit this game</a> </p>

    {% for gamer in gamers.all %}
        {% if gamer.level >= game.winning_level %}
            <h4 align="center"><font color="red"> Is that the end of a game? Oh no! </font></h4>
            <h5 align="center">The winner is: 
            {% for gamer in gamers.all %}
                {% if gamer.level >= 10 %}
                <p align="center"><li> {{ gamer.nick }} </li></p>
                {% endif %}
            {% endfor %}
            </h5>

        {% endif %}
    {% endfor %}

<br> </br>

<table width="100%" height="100%" border="3" cellpadding="5" cellspacing="4" align="center">
    <tr>
        <th> Statistics </th>
    {% for gamer in gamers.all %}
        <th>Gamer {{ forloop.counter }}</th>
    {% endfor %}
    </tr>
    <tr>         <th>Nick</th>
    {% for gamer in gamers.all %}
        <td>{{ gamer.nick }}</td>
    {% endfor %}
    </tr>
    <tr>         <th>Level</th>
    {% for gamer in gamers.all %}
        <td>{{ gamer.level }}</td>
    {% endfor %}
    </tr>
    <tr>         <th>Bonus</th>
    {% for gamer in gamers.all %}
        <td>{{ gamer.bonus }}</td>
    {% endfor %}
    </tr>
    <tr>         <th>Gender</th>
    {% for gamer in gamers.all %}
        <td>{{ gamer.gender }}</td>
    {% endfor %}
    </tr>
    <tr>         <th>Race</th>
    {% for gamer in gamers.all %}
        {% if gamer.race_slot_1 != None %}
        <td>{{ gamer.race_slot_1 }}</td>
        {% else %}
        <td> </td>
        {% endif %}
    {% endfor %}
    </tr>
    <tr>         <th>Race 2</th>
    {% for gamer in gamers.all %}
        {% if gamer.race_slot_2 != None %}
        <td>{{ gamer.race_slot_2 }}</td>
        {% else %}
        <td> </td>
        {% endif %}
    {% endfor %}
    </tr>
    <tr>         <th>Class</th>
    {% for gamer in gamers.all %}
        {% if gamer.class_slot_1 != None %}
        <td>{{ gamer.class_slot_1 }}</td>
        {% else %}
        <td> </td>
        {% endif %}
    {% endfor %}
    </tr>
    <tr>         <th>Class 2</th>
    {% for gamer in gamers.all %}
        {% if gamer.class_slot_2 != None %}
        <td>{{ gamer.class_slot_2 }}</td>
        {% else %}
        <td> </td>
        {% endif %}
    {% endfor %}
    </tr>
</table>

<br> </br>
<!-- <table width="100%" height="100%" border="3" cellpadding="5" cellspacing="4" align="center"> -->
<table border="3" cellpadding="5" cellspacing="4" align="center">
  <tr align="center" height="200">
    <td><font color="DimGray">X</font></td>
    <td width="200">
<!-- 1. gamer -->
        {% if gamers.0 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.0.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.0.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.0.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.0.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.0.race_slot_1 != None %}
        <td>{{ gamers.0.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.0.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.0.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.0.class_slot_1 != None %}
        <td>{{ gamers.0.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.0.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.0.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200">
<!-- 7. gamer -->
        {% if gamers.6 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.6.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.6.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.6.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.6.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.6.race_slot_1 != None %}
        <td>{{ gamers.6.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.6.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.6.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.6.class_slot_1 != None %}
        <td>{{ gamers.6.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.6.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.6.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200">
<!-- 3. gamer -->
        {% if gamers.2 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.2.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.2.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.2.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.2.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.2.race_slot_1 != None %}
        <td>{{ gamers.2.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.2.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.2.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.2.class_slot_1 != None %}
        <td>{{ gamers.2.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.2.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.2.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200"><font color="DimGray">X</font></td>
  </tr>
  <tr align="center" height="200">
    <td width="200">
<!-- 6. gamer -->
        {% if gamers.5 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.5.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.5.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.5.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.5.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.5.race_slot_1 != None %}
        <td>{{ gamers.5.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.5.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.5.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.5.class_slot_1 != None %}
        <td>{{ gamers.5.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.5.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.5.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200"><font color="DimGray">X</font></td>
    <td width="200"><font color="DimGray">X</font></td>
    <td width="200"><font color="DimGray">X</font></td>
    <td width="200">
<!-- 5. gamer -->
        {% if gamers.4 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.4.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.4.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.4.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.4.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.4.race_slot_1 != None %}
        <td>{{ gamers.4.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.4.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.4.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.4.class_slot_1 != None %}
        <td>{{ gamers.4.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.4.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.4.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
  </tr>
  <tr align="center" height="200">
    <td width="200"><font color="DimGray">X</font></td>
    <td width="200">
<!-- 4. gamer -->
        {% if gamers.3 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.3.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.3.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.3.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.3.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.3.race_slot_1 != None %}
        <td>{{ gamers.3.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.3.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.3.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.3.class_slot_1 != None %}
        <td>{{ gamers.3.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.3.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.3.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200">
<!-- 8. gamer -->
        {% if gamers.7 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.7.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.7.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.7.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.7.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.7.race_slot_1 != None %}
        <td>{{ gamers.7.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.7.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.7.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.7.class_slot_1 != None %}
        <td>{{ gamers.7.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.7.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.7.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200">
<!-- 2. gamer -->
        {% if gamers.1 == NULL %}
            <font color="DimGray">Free place for gamer</font>
        {% else %}
      <table>
        <tr><td><font color="DimGray">Nick: </font></td>
        <td>{{ gamers.1.nick }}</td></tr>
        <tr><td><font color="DimGray">Level: </font></td>
        <td>{{ gamers.1.level }}</td></tr>
        <tr><td><font color="DimGray">Bonus: </font></td>
        <td>{{ gamers.1.bonus }}</td></tr>
        <tr><td><font color="DimGray">Gender: </font></td>
        <td>{{ gamers.1.gender }}</td></tr>
        <tr><td><font color="DimGray">Race: </font></td>
        {% if gamers.1.race_slot_1 != None %}
        <td>{{ gamers.1.race_slot_1 }}</td></tr>
        {% endif %}
        <!-- Race slot 2 -->
        {% if gamers.1.race_slot_2 != None %}
        <tr><td><font color="DimGray">Race 2: </font></td>
        <td>{{ gamers.1.race_slot_2 }}</td></tr>
        {% endif %}

        <tr><td><font color="DimGray">Class: </font></td>
        {% if gamers.1.class_slot_1 != None %}
        <td>{{ gamers.1.class_slot_1 }}</td></tr>
        {% endif %}

        <!-- Class slot 2 -->
        {% if gamers.1.class_slot_2 != None %}
        <tr><td><font color="DimGray">Class 2: </font></td>
        <td>{{ gamers.1.class_slot_2 }}</td></tr>
        {% endif %}
      </table> 
        {% endif %}
    </td>
    <td width="200"><font color="DimGray">X</font></td>
  </tr>
</table>


</body>
</html>
