li a {
    color: green;
    font-size: large;
    font-weight: bold;
    background: Gainsboro;
}

body {
    background: white url("images/background2.gif");
    background-repeat: no-repeat;
    background-size: 1400px 641px;
}

