{% extends 'base.html' %}
{% block content %}
{% load i18n %}

{% if not user.is_authenticated %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}

<h1>{% trans 'Change account details' %}</h1>

<br />

<h3>{% trans 'Change password' %}</h3>
<form method="post">
    {% csrf_token %}
    <table align="center">
        {% for field in form %}
            <tr>
                <td align="right">{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            <tr>
                {% for error in field.errors %}
                    <tr>
                        <td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>
                    </tr>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="{% trans 'Save changes' %}" class="green_button"/>
</form>

<br />

    <form action="{% url 'edit_profile' %}">
        <input type="submit" value="{% trans 'Back' %}" class="back_button"/>
    </form>

{% endblock %}
