{% extends 'base.html' %}
{% block content %}

{% if not user.is_authenticated %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}

<h1> Change account details</h1>

<br />

<h3> Change password</h3>
<form method="post">
    {% csrf_token %}
    <table align="center">
        {% for field in form %}
            <tr>
                <td align="right">{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            <tr>
                {% for error in field.errors %}
                    <tr>
                        <td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>
                    </tr>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save changes"/>
</form>

<br />

{% if user.is_authenticated %}
    <h3> Delete account </h3>
    <form action="{% url 'delete_user' user.id %}">
        <input type="submit" value="Delete"/>
    </form>
{% endif %}

{% endblock %}
