{% extends 'base.html' %}
{% block content %}
{% load i18n %}

{% if not user.is_authenticated %}
    <script>
        window.location.href = "{% url 'home' %}";
    </script>
{% endif %}

<h1> {% trans 'Change account details' %}</h1>

<br />

<h3> {% trans 'Change profile details' %}</h3>
    <form method="post">
        {% csrf_token %}
            <table align="center">
                <tr>
                    <td>{{ user_form.username.label_tag }}</td>
                    <td>{{ user_form.username }}</td>
                </tr>
                <tr>
                    {% for error in user_form.username.errors %}
                        <tr>
                            <td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>
                        </tr>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ user_form.email.label_tag }}</td>
                    <td>{{ user_form.email }}</td>
                </tr>
                <tr>
                    {% for error in user_form.email.errors %}
                        <tr>
                            <td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>
                        </tr>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ user_form.nick.label_tag }}</td>
                    <td>{{ user_form.nick }}</td>
                </tr>
                <tr>
                    {% for error in user_form.nick.errors %}
                        <tr>
                            <td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>
                        </tr>
                    {% endfor %}
                </tr>

                <!--{% for field in user_form %}-->

                    <!--{% if field.label_tag is not 'username' %}-->
                        <!--<tr>-->
                            <!--<td>{{ field.label_tag }}</td>-->
                            <!--<td>{{ field }}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->

                            <!--{% for error in field.errors %}-->
                                <!--<tr>-->
                                    <!--<td colspan="2" align="center"><small style="color: red">{{ error }}</small></td>-->
                                <!--</tr>-->
                            <!--{% endfor %}-->
                        <!--</tr>-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
            </table>
        <input type="submit" value="{% trans 'Save changes' %}" class="green_button"/>
  </form>
<hr>

<table>
    <tr>
    <td>
        <form action="{% url 'change_password' %}">
            <input type="submit" value="{% trans 'Change password' %}" class="blue_button"/>
        </form>
    </td>
    <td>
        <form action="{% url 'delete_user' user.id %}">
            <input type="submit" value="{% trans 'Delete account' %}" class="red_button"/>
        </form>
    </td>
    </tr>
</table>

{% endblock %}
