/*Encyclopedia Class button*/
.class_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #2162ff;
    border: 2px solid #00a6ed;
    padding: 6px 15px;
    cursor: pointer;
}
/*Encyclopedia Race button*/
.race_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #f93109;
    border: 2px solid #ff8d47;
    padding: 6px 15px;
    cursor: pointer;
}

.back_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #30302f;
    border: 2px solid #777777;
    padding: 6px 15px;
    cursor: pointer;
}

.green_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #0d8e08;
    border: 2px solid #09c902;
    padding: 6px 15px;
    cursor: pointer;
}

.red_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #f93109;
    border: 2px solid #ff8d47;
    padding: 6px 15px;
    cursor: pointer;
}

.blue_button {
    background-color: #ffe5ba;
    border-radius: 8px;
    color: #2162ff;
    border: 2px solid #a3beff;
    padding: 6px 15px;
    cursor: pointer;
}

.grey_small_button {
    background-color: #ffe5ba;
    border-radius: 50%;
    color: #4d5f8c;
    border: 2px solid #b2b2b2;
    cursor: pointer;
}
