<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="utf-8">

  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}e_munchkin{% endblock %}</title>
  <style>
    body{
        background: #FCD697
    }
  </style>
        <link rel="stylesheet" type="text/css" href="{% static 'games/background.css' %}" />

</head>
<body>
  <header>
    {% if user.is_authenticated %}

        <table align="center">
        <tr><br /></tr>
        <tr>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'home' %}">{% trans 'Home' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'user_stats' user.id %}">{% trans 'Stats' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'edit_profile' %}">{% trans 'Account' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'games:help' %}">{% trans 'Help' %}</a></td>
        </tr>
        </table>

    {% else %}

        <table align="center">
        <tr><br /></tr>
        <tr>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'home' %}">{% trans 'Home' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'login' %}">{% trans 'Login' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'signup' %}">{% trans 'SignUp' %}</a></td>
             <td style="padding:0 15px 0 15px;"><a href="{% url 'games:help' %}">{% trans 'Help' %}</a></td>
        </tr>
        </table>

    {% endif %}

  </header>
  <hr>
  <main>
<div align="center">
    {% block content %}
    {% endblock %}
</div>
  </main>
</body>
</html>
