{% extends 'base.html' %}
{% load i18n %}

{% block title %}e_munchkin{% endblock %}

{% block content %}

    <h1>{% trans 'Web application e_munchkin' %}</h1>
    <br />

    {% if user.is_authenticated %}
      <h4>{% trans 'Welcome' %} <font color="orange">{{ user.username }}</font>!
          <br /> {% trans 'Join us and play with us' %}.
      </h4>
      <br />

      <form action="{% url 'games:create_game' %}">
          <input type="submit" value="{% trans 'Host game' %}" class="blue_button"/>
      </form>
      <br />

    {% else %}

      <h4>{% trans 'Welcome' %} <font color="orange"> {% trans 'mysterious stranger' %}</font>!
          <br /> {% trans 'Join us and play with us' %}.
      </h4>
      <br />

    {% endif %}

     <form action="{% url 'games:game_access' %}">
        <input type="submit" value="{% trans 'Join an existing game' %}" class="green_button"/>
     </form>

    <br />
    <br />
    <p>{% trans 'You have visited this page' %} {{ num_visits }} {% if num_visits == 1 %}{% trans 'time' %}{% else %}{% trans 'times' %}{% endif %}.</p>

{% endblock %}
