{% extends 'base.html' %}
{% load i18n %}

{% block title %}e_munchkin{% endblock %}

{% block content %}
 
    <h1>{% trans 'Web application e_munchkin' %}</h1>
    <br />

    {% if user.is_authenticated %}
    <h4>{% trans 'Welcome' %} <font color="orange">{{ user.username }}</font>! 
        <br /> {% trans 'Join us and play with us' %}.
    </h4>
    <br />

     <p> <a href="{% url 'games:create_game' %}">{% trans 'Host game' %}</a> </p>

    {% else %}
    <h4>{% trans 'Welcome' %} <font color="orange"> {% trans 'mysterious stranger' %}</font>! 
        <br /> {% trans 'Join us and play with us' %}.
    </h4>
    <br />
    {% endif %}

     <p> <a href="{% url 'games:game_access' %}">{% trans 'Join an existing game' %}</a> </p>

    <br />
    <br />
    <p>{% trans 'You have visited this page' %} {{ num_visits }} {% if num_visits == 1 %}{% trans 'time' %}{% else %}{% trans 'times' %}{% endif %}.</p>

{% endblock %}
