{% extends 'base.html' %}
{% block content %}
  <h2>You can join an existing game</h2>
  <p>Please enter your nick and game-code </p>

<!--  <form action="/action_page.php"> -->
  <p><br>
  <form>
    	{% if user.is_authenticated %}
  		Maybe you wanna nick-name like this:
  		<input type="text" name="firstname" value={{ user.nick }}>
    	{% else %}
  		Enter your nick:
  		<input type="text" name="firstname" value={{ user.username }}>
    	{% endif %}
  	<br>Enter game-code:
  	<input type="text" name="lastname">
  	<br><br>
  	<input type="submit" value="Submit">
  </form> 
  </p>
{% endblock %}
